In [1]:
import pandas as pd

In [3]:
s=pd.Series([45,67,57,95],index=range(101,105))
print(s)

101    45
102    67
103    57
104    95
dtype: int64

In [5]:
roll = pd.Series([1,2,3,4])
name = pd.Series(["Jainil","Kush","Alok","Parth"])
marks = pd.Series([395,67,99,75])

df=pd.DataFrame(
    {
        'roll':roll,
        'name':name,
        'marks' :marks
    }
)
print(df)

   roll    name  marks
0     1  Jainil    395
1     2    Kush     67
2     3    Alok     99
3     4   Parth     75